/* Header layout */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  padding: 10px 30px;
  flex-wrap: wrap;
}

/* LOGO styles */
.logo-container {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit;
  gap: 10px;
}

.logo-icon {
  width: 35px;
  height: 35px;
  background-color: #2563eb; /* Tailwind blue-600 */
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-letter {
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: 14px;
}

.logo-text {
  font-size: 1.2rem;
  font-weight: bold;
  color: #000000;
}

/* Nav link styles */
.nav-links {
  display: flex;
  gap: 20px;
}

.nav-links a {
  position: relative;
  color: #1f2937; /* Optional: default color */
  text-decoration: none;
  padding-bottom: 4px; /* spacing for underline */
  transition: color 0.3s ease;
  font-weight: 500;
}

.nav-links a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 0;
  background-color: #0033ff;
  transition: width 0.3s ease;
  transform-origin: left;
}

.nav-links a:hover {
  color: #002ed3;
}

.nav-links a:hover::after {
  width: 100%;
}



/* Mobile Responsive */
@media (max-width: 600px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .nav-links {
    flex-direction: column;
    width: 100%;
    gap: 10px;
    margin-top: 10px;
  }
}
